body{
    margin:0; padding:0; box-sizing: border-box;
}

div.separadores{
    width: 100%;
    padding-left: 1vw;
    padding-top: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

div.separadores h6:last-child{
    margin-bottom:0;
}

div.separadores div.micro-separadores{
    display: flex;
    flex-direction:column;
    border: 1px solid gray;
    box-shadow: 3px 3px 4px gray;
    background-color: black;
    border-radius:10px;
    width:193px;
    margin-left: 1vw ;
    padding:5%;
    color:white;
    transition: 400ms ease-in;
}

div.separadores div.micro-separadores:hover{ 
    padding: 10%;
    font-size:1.5rem;
}